/* Add your styles here. */
h1 {
    font-family:  Verdana, sans-serif;
    font-weight: normal;
}

ol.post-list li{
    list-style-type: none;
    font-family: Helvetica, sans-serif;
    border-style: groove;
    margin: 25px 10px 25px 5px;
    padding: 10px 10px 10px 10px;
    width: 35vw;
}